<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="C:/Users/hp/Desktop/html/views/user.css">
    <!-- <script type="text/javascript" src="index.js"></script> -->
    <!-- <script src="index.js"></script> -->

<script></script>
    <title>Document</title>
</head>


 
<body class="body">
{{!-- {{this.nom}} --}}



    <form class="form" method="POST" action="/adduser">

        <div class="mb-3">
          <label class="form-label">Identifiant</label>
          <input name="userId" id="userId" 
           >
        </div>
        <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" name="nom" class="form-control"  id="nom">
        </div>
        <div class="mb-3">
            <label class="form-label">Prenom</label>
            <input type="text" name="prenom" class="form-control"  id="prenom">
        </div>
        <div class="mb-3">
            <label class="form-label">Age</label>
            <input type="number"  name="age" class="form-control"  id="age">
          </div>
        <div class="buttons">
        <button  type ="submit" class="btn btn-success">Ajouter</button>
             {{!-- <a href="/delete">   <button  type ="submit" class="btn btn-danger">Supprimer</button> --}}

        {{!-- <button  class="btn btn-warning">Modifier</button>
        <button  class="btn btn-danger">Supprimer</button> --}}
    </div>
      </form>

      <form class="form2" method="POST" action="/delete">

        <div class="mb-3">
          <label class="form-label">Identifiant</label>
          <input name="userId" id="userId" value="{{userId}}" >
            <div class="buttons">
          {{!-- <button  type ="submit" class="btn btn-danger">Supprimer</button> --}}
        </div>
        </div>
       
        </form>



        
    <form class="form" method="POST" action="/updateuser">

        <div class="mb-3">
          <label class="form-label">Identifiant</label>
          <input name="userId" id="userId" 
           >
        </div>
        <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" name="nom" class="form-control"  id="nom">
        </div>
        <div class="mb-3">
            <label class="form-label">Prenom</label>
            <input type="text" name="prenom" class="form-control"  id="prenom">
        </div>
        <div class="mb-3">
            <label class="form-label">Age</label>
            <input type="number"  name="age" class="form-control"  id="age">
          </div>
        <div class="buttons">
        <button  type ="submit" class="btn btn-success">Modifier</button>
             {{!-- <a href="/delete">   <button  type ="submit" class="btn btn-danger">Supprimer</button> --}}

        {{!-- <button  class="btn btn-warning">Modifier</button>
        <button  class="btn btn-danger">Supprimer</button> --}}
    </div>
      </form>

      <form class="form2" method="POST" action="/deleteuser/{{userId}}">
      <input type="hidden" name="_method" value="DELETE">
        <div class="mb-3">
          <label class="form-label">Identifiant</label>
          <input name="userId" id="userId">
            <div class="buttons">
              <button  type ="submit" class="btn btn-danger">Supprimer</button>
{{!-- <a class="delete" data-doc="7"><button  type ="submit" class="btn btn-danger">Supprimer</button></a> --}}
        </div>
        </div>
        
        </form>


{{!-- 
      
      <!-- <div id="d1">²LOBNA</div> -->
               <button class="btn btn-primary" id="togg1">Afficher</button>
 
<div id="d1">
    <!-- <input type="search" onkeyup='searchTable()' id="search"> -->
   
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" onkeyup='searchTable()' id="search">
      
<table class="table" id="table">
    <thead>
      <tr id="tr">
    
        <th scope="col">Identifiant</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
       {{#each rows}}
      <tr id="tr">
        <td scope="row" id="td">{{this.userId}} </th>
        <td id="td">{{this.nom}} </td>
        <td id="td">{{this.prenom}} </td>
        <td id="td">{{this.age}} </td>
      </tr>
       {{/each}}
    </tbody>
    
  </table>
</div>
      <script>
        togg1.addEventListener("click", () => {
          if(getComputedStyle(d1).display != "none"){
            d1.style.display = "none";
          } else {
            d1.style.display = "block";
          }
        })
        </script>
        {{!-- <div>
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <ul>
      <li>{{this.nom}} {{this.prenom}}</li></ul>
    </div>
  </div>
  {{/each}}</div> --}}
<!-- 
<script>
    var $rows = $('#table tr');
$('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});
</script> -->
<script>
function searchTable() {
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("search");
    filter = input.value.toUpperCase();
    table = document.getElementById("table");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                found = true;
            }
        }
        if (found) {
            tr[i].style.display = "";
            found = false;
        } else {
            tr[i].style.display = "none";
        }
    }
}
</script>

<style>
  .form{
    width:500px;
    height:500px;
    border-radius:8px;
    margin:calc(50vh - 220px) auto;
    padding:80px 30px;max-width:calc(100vw - 40px);
    box-shadow: 3px 3px rgb(184, 184, 186), -1em 0 .4em rgb(184, 184, 186);
}

.buttons{
    text-align: center;
}
#d1{
    display: none;
    /* visibility: hidden; */
}
#togg1{
    margin-top: -15%;
    width:500px;
   margin-left: 33%;
    border-radius:8px;
    box-shadow: 3px 3px rgb(184, 184, 186), -1em 0 .4em rgb(184, 184, 186);
}
#search{
    margin-top: -5%;
    
    width:500px;
   margin-left: 33%;
    border-radius:8px;
    box-shadow: 3px 3px rgb(184, 184, 186), -1em 0 .4em rgb(184, 184, 186);
}

#table{
    /* margin-top: -88888888%; */
    width:600px;
    border-radius:8px;
    margin:calc(50vh - 220px) auto;
    padding:80px 30px;max-width:calc(100vw - 40px);
}

.form2{
   width:500px;
    height:100px;
    border-radius:8px;
    margin:calc(50vh - 220px) auto;
    padding:80px 30px;max-width:calc(100vw - 40px);
    box-shadow: 3px 3px rgb(184, 184, 186), -1em 0 .4em rgb(184, 184, 186);
}
</style>

</body>


  
</html>





